<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About-Us</title>
</head>
<body>
<h>About-Us</h>

<a href="{% url 'count' %}">Counte Number of words</a>

<form action="{% url 'count' %}">

<p>About Us
Best software training institute Hyderabad. We are from VLR Training offered top software courses, Data Science and digital marketing training AngularJs, Bluprism, automation anywhere, data science, Ethical hacking, Digital marketing, DevOps are our main courses. One of the best reputativeTraining institute in Hyderabad.Courses offered by real-time faculty through Online training and classroom training. Exclusive youtube Channel for software courses to provide real-time Knowledge.

Best software training institute Hyderabad</p>
</form>
</body>
</html>